<h1>View for adding new category</h1>
<div>
    <label for="driver_pesel">Driver's pesel: </label>
    <input id="driver_pesel" #driverPesel/>
    <br/>
    <label for="driver_name">Driver's name: </label>
    <input id="driver_name" #driverName />
    <br/>
    <label for="driver_surname">Driver's surname: </label>
    <input id="driver_surname" #driverSurname/>
    <br/>
    <label for="driver_age">Driver's age: </label>
    <input id="driver_age" #driverAge/>
    <br/>

    <button (click)="add(driverName.value, driverSurname.value, driverPesel.value, driverAge.value);
    driverName.value=''; driverSurname.value=''; driverPesel.value='';driverAge.value=''">Add Driver</button>
</div>
